header{
    width: 100%;
    height: 72px;
    background-color: $w;
}
.container_nav{
    position: relative;
    font-size: 16px;
    button{
        background-color: $w;
        border: none;
        img{
            &:hover{
                transform: scale(1.10);
            }
        }
    }
    .search_box {
        position: absolute;
        z-index: 10;
        top: -100px;
        left: 50%;
        transform: translateX(-50%);
        width: 50%;
        height: 50px;
        transition: top 0.5s ease;
        .form-control {
            outline: none; 
            box-shadow: none;
        }
    }
    .search_box.visible {
        top: 70px;
    }
    @media (max-width: 768px) {
        .search_box.visible {
            top: 80px;
        }
    }
}
.dropdown{
    ul{
        display: block;
        visibility: hidden;
        border: none;
        border-radius: 0px 20px 5px 5px;
        border: 1px solid $g;
        border-top: none;
        li{
            &:first-of-type{
                a{
                    border-radius:0px 10px 0px 0px ;
                }
            }
            a{
                &:hover{
                    background-color: $g;
                    color: $w;
                }
            }
        }
    }
    &:hover{
        ul{
            visibility: visible;
        }
    }
}
.container_nav_mobile{
    width: 160px;
    height: 500px;
    border-radius: 0px 0px 12px 12px;
    background-color: rgba(38, 38, 38, 0.275);
    position: absolute;
    z-index: 10;
    top: 80px;
    left: -80px;
    transform: translateX(-50%);
    transition: left 0.9s ease;
    button{
        position: absolute;
        padding: 10px;
        z-index: 2;
        border: none;
        border-radius: 10px 10px 0px 0px;
        margin-left: calc(100% + -10px);
        margin-top: 10px;
        transform: rotate(90deg);
        background-color: rgba(38, 38, 38, 0.275);
    }
    ul{
        li{
            a{
                padding-left: 10px;
                &:hover{
                    background-color: $g;
                    color: $w;
                }
            }
        }
    }
    .dropdown-item{
        padding-left: 20px;
    }
    .form-control {
        outline: none; 
        box-shadow: none;
    }
}
.container_nav_mobile__expanded {
    left: 75px;
}
