

.intro{
    .box_right{
        background-image: url("../../assets/Photo.png");
        background-repeat: no-repeat;
        background-size: cover;
    }
    .box_right_about_company{
        background-image: url("../../assets/Photo2.png");
        background-size: 100% 100%;
    }
    .box_left_about_company{
        margin-left: 55%;
    }
    .box{
        height: 737px;
        .carousel_content{
            
            h1{
                font-size: 70px;
                font-weight: 600;
                font-family: $font_text;
            }
            .container_span{
                width: 440px;
                font-family: $font_menu;
                font-size: 16px;
            }
            button{
                border-radius: 30px;
                padding: 10px 20px 10px 20px;
                background-color: $color-green;
                color: $w;
                font-family: $font_menu;
                font-weight: 400; 
                &:focus{
                    background-color:$color-green;
                    color: $w;
                }
            }
            .btn-outline{
                background-color: $color-background;
                color: $color-green;
                border: solid 2px;
                &:focus{
                    background-color:$color-background;
                    color: $color-green;
                }
            }
            .about_company{
                background-color: $color-green;
                color: $w;
                &:focus{
                    background-color: $color-green;
                color: $w;
                }
            }
        }
    }
    .carousel-control{
        top: auto;
        background-color: $w;
        width: 80px;
        height: 80px;
        z-index: 1;
        opacity: 1;
        padding: 10px;
    }
    .carousel-control-prev{
        left: auto;
        right: 80px;
    }
    
}
.about_company{
    background-color: $color-green;
    color: $w;
    font-family: $font_menu;
}



@media(max-width: 1400px) {
    .intro{
        .box{
            .carousel_content{
                h1{
                    font-size: 60px;
                }
            }
        }
    }
}
@media(max-width: 1200px) {
    .intro{
        .box{
            .carousel_content{
                h1{
                    font-size: 50px;
                }
                .container_span{
                    width: 440px;
                    font-family: $font_menu;
                    font-size: 16px;
                }
                button{
                    padding: 10px 15px 10px 15px;
                }
            }
        }
    }
}
@media(max-width: 992px) {
    .intro{
        .box{
            height: 600px;
            .carousel_content{
                h1{
                    font-size: 40px;
                }
                .container_span{
                    font-size: 14px;
                    width: 325px;
                }
                button{
                    padding: 10px 15px 10px 15px;
                    font-size: 11px;
                }
            }
        }
    }
}
@media(max-width: 768px) {
    .intro{
        .box{
            height: 400px;
            .carousel_content{
                z-index: 5;
                padding: 20px;
                background-color:$color-background;
                h1{
                    font-size: 30px;
                }
                .container_span{
                    z-index: 5;
                }
            }
            .carousel_content_about_company{
                background-color:$color-green;
            }
            
        }
        .box_left_about_company{
            margin-left: 0%;
        }
        .carousel-control{
            width: 40px;
            height: 40px;
        }
        .carousel-control-prev{
            right: 40px;
        }
        
    }
    .about_company{
        .carousel_content{
            background-color: $color-green;
        }
    }
}
@media(max-width: 576px) {
    .intro{
        .box_right_about_company{
            background-size: 100% 100%;
        }
        .box{
            height: 300px;
            .carousel_content{
                h1{
                    font-size: 20px;
                }
            }
        }
    }
}
@media(max-width: 400px) {
    img{
        display: none;
    }
}
